// Colors
$color-primary: #b9b1ff;
$color-secundary: #e3ef63;
$color-light-purple: #efe8f8;
$color-dark-purple: #240046;
$color-white: #fafafa;

//Fonts
$font-main: 'Quicksand', sans-serif;
$font-title: 'Caviar Dreams', sans-serif;
$font-script: 'Segoe Script', cursive;

// ---- Breakpoints ----
$break-sm: 480px; // Small devices (bigger phones)
$break-md: 768px; // Tablets
$break-lg: 1024px; // Small laptops
$break-xl: 1280px; // Desktops
$break-xxl: 1440px; // Large desktops / wide screens
