<section class="hero">
  <div class="hero-left">
    <img src="assets/images/mikail-icon.webp" alt="Hero image" />
  </div>

  <div class="hero-right">
    <h1 class="hero-right-title">Mik<span>ail</span></h1>
    <p class="hero-right-subtitle">Email Generator</p>

    <p class="hero-right-app-description">
      A web application that generates structured, professional emails based on different customer
      communication scenarios.
    </p>

    <a class="hero-right-start-btn" href="#email-generator"><span>START NOW</span></a>
  </div>
</section>
